/* App */
.App {
  text-align: center;
  padding-top:6%;
}
/* Navigation */
.navlinks-container{
  display:flex;
  justify-content:center;
  background-color:lightslategray;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navlinks {
padding:1% 1%;
}
/* Test borders for structure */
.navlinks, .logo, div, section{
  border:1px solid black;
}
/* About */
.photo {
  width: 50%;
  border-radius:50%;
}
#About {
  padding:2%;
  display:flex;
  justify-content:center;
  width:50%;
  margin:0 auto;
  box-shadow:-5px -5px 10px gray;
}
/* Skills */
/* Projects */

/* Contact */
form {
  display:flex;
  flex-direction:column;
  width:35%;
  margin:0 auto;
}
.contact-submit {
  width:25%;
  margin:2% auto;
}
form input {
  margin:2%;
}