/* Test borders for structure */
/* .navlinks, p, a, .logo, div, section{
  border:1px solid black;
} */

/* Entire App */
.App {
  text-align: center;
  padding-top:6%;
}
section {
  margin-top:10%;
}
.nav-fix{
  margin-top:10%;
  padding:5%;
}
/* Navigation Section */
.navlinks-container{
  z-index:1;
  display:flex;
  justify-content:center;
  background-color:lightslategray;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navlinks {
padding:.75% 1%;
}
section div h1 {
  font-size: 2rem;
}

/* About Section */
.photo {
  max-width: 50%;
  border-radius:50%;
  box-shadow:-3px -3px 10px black;
}
#About {
  background-color:lightslategray;
  padding:2%;
  display:flex;
  justify-content:center;
  width:60%;
  margin:5% auto;
  box-shadow:-5px -5px 15px black;
  border-radius:10px;
}
.mydetails {
  width:100%;
  padding:5%;
  color:white;
}
.mydetails a {
  color:blue;
  background-color:white;
  margin:0% 2%;
  padding:1% 2%;
  box-shadow:-2px -2px 5px black;
}
.mydetails a:hover {
  color:white;
  box-shadow:-2px -2px 5px black;
  transition:1s;
}
.mydetails .fab {
  margin-right:2px;
}

/* Skills Section */
.icons-container{
  display:flex;
  justify-content: center;
}
#Skills .fab {
  font-size:5rem;
}

/* Projects Section*/

/* Contact Section */
form {
  display:flex;
  flex-direction:column;
  width:35%;
  margin:0 auto;
}
.contact-submit {
  width:25%;
  margin:2% auto;
}
form input {
  margin:2%;
}

/* Footer Section */
.footer {
  background-color:lightslategray;
  padding:0.1%;
}
