/* Test borders for structure */
/* .navlinks, p, a, .logo, div, section{
  border:1px dotted black;
} */

/* Entire App */
.App {
  text-align: center;
  padding-top: 6%;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    rgb(167, 194, 240),
    white,
    rgb(167, 194, 240)
  );
}
section {
  margin-top: 5%;
}
/* NAV FIX */
.nav-fix {
  margin-top: 0%;
  padding: 5%;
}
/* Navigation Section */
.navlinks-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(17, 7, 68), rgb(167, 194, 240));
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navlinks {
  padding: 0.75% 1%;
}

/* About Section */
section div h1 {
  font-size: 2rem;
}
.photo {
  max-width: 50%;
  border-radius: 50%;
  box-shadow: -3px -3px 10px black;
}
#About {
  background: -webkit-linear-gradient(
    rgb(17, 7, 68),
    rgb(56, 88, 143),
    rgb(255, 255, 255)
  );
  padding: 2%;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 3% auto;
  box-shadow: -5px -5px 15px black;
  border-radius: 10px;
}
.mydetails {
  width: 100%;
  padding: 5%;
  color: white;
}
.mydetails a {
  color: blue;
  background-color: white;
  margin: 0% 2%;
  padding: 1% 2%;
  box-shadow: -2px -2px 5px black;
  border-radius:5px;
} 

.mydetails a:hover {
  color:white;
  background:blue;
  box-shadow: -2px -2px 5px black;
  transition: 1s;
}

.mydetails p {
  font-size:18px;
}

/* Skills Section */
.icons-container {
  display: flex;
  justify-content: center;
}
#Skills .fab {
  font-size: 8rem;
}
#Skills h2 {
  padding: 0%;
  font-size: 3rem;
  background: -webkit-linear-gradient(
    rgb(255, 255, 255),
    rgb(78, 60, 184),
    rgb(27, 28, 31)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icondiv {
  margin: 2.5% 5%;
  width: 100%;
}
.icondiv p {
  color: rgb(30, 0, 138);
  font-family: Verdana;
  font-style: italic;
  box-shadow: 5px 5px 5px rgb(188, 178, 240);
  border-radius: 5px;
}
.icondiv:hover {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.fa-html5 {
  color: orangered;
}
.fa-css3-alt {
  color: rgb(84, 106, 231);
}
.fa-js-square {
  color: yellow;
}
.fa-react {
  color: lightskyblue;
}
.fa-sass {
  color: rgb(219, 108, 195);
}
.fa-python {
  color: rgb(82, 172, 79);
}
.fa-node-js {
  color: rgb(13, 173, 13);
}
.fa-bootstrap {
  color: rgb(110, 8, 110);
}

/* Projects Section*/
section .nav-fix h2 {
  margin: 0%;
  padding: 0%;
  margin-bottom:-100px;
  font-size: 3rem;
  background: -webkit-linear-gradient(
    rgb(255, 255, 255),
    rgb(78, 60, 184),
    rgb(27, 28, 31)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.single-project h2 {
  font-size: 2rem;
  background: -webkit-linear-gradient(
    rgb(255, 255, 255),
    rgb(78, 60, 184),
    rgb(27, 28, 31)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
.single-project {
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 0%;
  width:100%;
}
.single-project img {
  width: 200px;
  height: 150px;
  max-width: 100%;
  border-radius: 15%;
}
.calendar {
  max-width: 50%;
  margin: 0 auto;
}

/* Contact Section */
#Resume .nav-fix h2 {
  padding: 0%;
  margin: 0%;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    rgb(17, 7, 68),
    rgb(56, 88, 143),
    rgb(167, 194, 240)
  );
  padding: 2%;
  border-radius: 20px;
}
.contact-submit {
  width: 25%;
  margin: 2% auto;
}
form input {
  margin: 3% 0%;
  width: 100%;
}
form textarea {
  width: 100%;
  margin: 5% auto;
}



embed {
  margin-top:2%;
}